/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 20px; // For consistent padding
$grey: #ffffff; // Background color
$width: 600px; // Width of the content area
$br: 3px; // Border radius
$primary-color: #c92a17; // Primary color for buttons and links
$footer-bg: #2e2e2e; // BG color for footers
$headColor: #777777; // Head text/border color
$gradientBg: #e4e4e4; // Not doing a gradiant
$primaryFontColor:#222222; // primary font color
$middleGreyButton: #6d6d6d;